venv/
text/
__pycache__/

documents/csv/*
documents/json/*
documents/reports/*

documents/text/full_output/*
documents/text/group_output/*
documents/text/grouped_output/*
documents/text/names/*

images/groupStorageCharts/*
images/userStorageCharts/*