venv
__pycache__

documents/csv/*
!documents/csv/README.txt

documents/json/*
!documents/json/.gitkeep

documents/reports/*
!documents/reports/README.txt

documents/text/full_output/*
!documents/text/full_output/README.txt
documents/text/group_output/*
!documents/text/group_output/README.txt
documents/text/grouped_output/*
!documents/text/grouped_output/README.txt
documents/text/names/*
!documents/text/names/README.txt

images/groupStorageCharts/*
!images/groupStorageCharts/README.txt
images/userStorageCharts/*
!images/userStorageCharts/README.txt
