/* I dont think this is used */

.users {
  display: flex;
}

.list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.filter {
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow-y: scroll;
  border-radius: 10px;
  box-shadow: 0 0 8px #ddd;
  align-items: center;
  max-height: 70px;
  width: 70px;
}
h3:hover {
  background-color: #efefef;
}
